{
  auto_https disable_redirects
  admin off
}

https://localhost {
  tls internal
  encode zstd gzip
  reverse_proxy next:3000

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy same-origin
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
    -Server
    -Via
    -X-Powered-By
  }
}
